<header id="sp-header">

    <div class="container">
        <div class="container-inner">
            <div class="row">
                <div id="sp-logo" class="col-8 col-sm-7 col-md-6 col-lg-3 ">
                    <div class="sp-column  d-flex align-items-center">
                        <div class="logo"><a href="/">
                                <img class='logo-image  d-none d-lg-inline-block'
                                    srcset='/static/site/images/logo1.png 1x, /static/site/images/logo1.png 2x'
                                    src='/static/site/images/logo1.png' alt='Patowave Logo' />
                                <img class="logo-image-phone d-inline-block d-lg-none"
                                    src="/static/site/images/logo1.png" alt="Patowave Logo" /></a>
                        </div>
                    </div>
                </div>
                <div id="sp-menu" class="col-4 col-sm-5 col-md-6 col-lg-9 ">
                    <div class="sp-column  d-flex align-items-center justify-content-end">
                        <nav class="sp-megamenu-wrapper d-flex" role="HELIX_ULTIMATE_AIRA_NAVIGATION"><a
                                id="offcanvas-toggler" aria-label="HELIX_ULTIMATE_NAVIGATION"
                                class="offcanvas-toggler-right d-flex d-lg-none" href="#">
                                <div class="burger-icon" aria-hidden="true">
                                    <span></span><span></span><span></span>
                                </div>
                            </a>
                            <ul class="sp-megamenu-parent menu-animation-fade-down d-none d-lg-block">
                                <li class="sp-menu-item"><a href="/">Home</a></li>
                                <li class="sp-menu-item sp-has-child"><a class="about-menu" href="#">About</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item"><a href="#whyolmo">Why OLMO?</a>
                                                </li>
                                                <li class="sp-menu-item"><a href="#bestsolutions">Best
                                                        Solutions</a></li>
                                                <li class="sp-menu-item"><a href="#integrations">Integrations</a></li>
                                                <li class="sp-menu-item"><a href="#howitworks">How It
                                                        Works</a></li>
                                                <li class="sp-menu-item"><a href="#testimonials">Testimonials</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="sp-menu-item"><a href="/blogs/">Blog</a></li>
                                <li class="sp-menu-item"><a href="/tutorials/">Tutorials</a></li>
                                <li class="sp-menu-item"><a href="/faqs/">FAQs</a></li>
                                <li class="sp-menu-item"><a href="/contact-us/">Contact Us</a></li>
                                <li class="sp-menu-item menu-link"><a href="#getstarted">Get Started</a>
                                </li>
                                <li class="sp-menu-item"></li>
                                <li class="sp-menu-item"></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>