<div class="offcanvas-menu">
    <div class="d-flex align-items-center p-3 pt-4">
        <div class="logo"><a href="/">
                <img class='logo-image  d-none d-lg-inline-block'
                    srcset='/static/site/images/logo1.png 1x, /static/site/images/logo1.png 2x'
                    src='/static/site/images/logo1.png' alt='Patowave Logo' />
                <img class="logo-image-phone d-inline-block d-lg-none" src="/static/site/images/logo1.png"
                    alt="Patowave Logo" /></a></div> <a href="#" class="close-offcanvas"
            aria-label="HELIX_ULTIMATE_CLOSE_OFFCANVAS_ARIA_LABEL">
            <div class="burger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
    </div>
    <div class="offcanvas-inner">
        <div class="d-flex header-modules mb-3">
        </div>
        <div class="sp-module ">
            <div class="sp-module-content">
                <ul class="menu nav-pills">
                    <li class="item-156"><a href="/">Home</a></li>
                    <li class="item-156"><a href="/about-us/">About Us</a></li>
                    <!-- <li class="item-137 menu-deeper menu-parent"><a href="#" class="about-menu">About<span
                                class="menu-toggler"></span></a>
                        <ul class="menu-child">
                            <li class="item-138"><a href="#whyolmo">Why OLMO?</a></li>
                            <li class="item-139"><a href="#bestsolutions">Best Solutions</a></li>
                            <li class="item-140"><a href="#integrations">Integrations</a></li>
                            <li class="item-141"><a href="#howitworks">How It Works</a></li>
                            <li class="item-142"><a href="#testimonials">Testimonials</a></li>
                        </ul>
                    </li> -->

                    <li class="item-156"><a href="/blog/">Blog</a></li>
                    <!-- <li class="item-156"><a href="/tutorials/">Tutorials</a></li> -->
                    <li class="item-156"><a href="/faqs/">FAQs</a></li>
                    <li class="item-156"><a href="/contact-us/">Contact Us</a></li>
                    <li class="item-156 menu-link"><a href="#getstarted">Get Started</a>
                    </li>
                    <li class="item-156"></li>
                    <li class="item-156"></li>

                </ul>
            </div>
        </div>
    </div>
</div>