<!doctype html>
<html lang="en-gb" dir="ltr">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

    {% block title %}{% endblock %}
    {% block seo %}{% endblock %}
    <meta property="og:title" content="Patowave Accounting and Invoicing System " />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://patowave.com/" />
    <meta property="og:site_name" content="Patowave" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="Patowave" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/icon.png">

    <link rel="stylesheet" href="/static/site/css/joomla-alert.min.css">
    <link rel="stylesheet" href="/static/site/css/font-awesome-5.min.css">
    <link rel="stylesheet" href="/static/site/css/font-awesome-v4-shims.css">
    <link rel="stylesheet" href="/static/site/css/animate.min.css">
    <link rel="stylesheet" href="/static/site/css/sppagebuilder.css">
    <link rel="stylesheet" href="/static/site/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/site/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/site/css/system-j4.min.css">
    <link rel="stylesheet" href="/static/site/css/choices.css">
    <link rel="stylesheet" href="/static/site/css/template.css">
    <link rel="stylesheet" href="/static/site/css/preset10.css">
    <link rel="stylesheet" href="/static/site/css/custom.css">

    <script src="/static/site/js/jquery.min.js"></script>
    <script src="/static/site/js/jquery-noconflict.min.js"></script>
    <script src="/static/site/js/1jquery.min.js"></script>
    <script src="/static/site/js/core.min.js"></script>
    <script src="/static/site/js/messages-es5.min.js"></script>
    <script src="/static/site/js/messages.min.js"></script>
    <script src="/static/site/js/jquery.parallax.js"></script>
    <script src="/static/site/js/sppagebuilder.js"></script>
    <script src="/static/site/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/site/js/sp_carousel.js"></script>
    <script src="/static/site/js/bootstrap.bundle.min.js"></script>
    <script src="/static/site/js/main.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/26097320.js"></script>
    <!-- End of HubSpot Embed Code -->
</head>

<body
    class="site helix-ultimate hu com-sppagebuilder view-page layout-default task-none itemid-113 en-gb ltr sticky-header layout-fluid offcanvas-init offcanvs-position-right">


    <div class="sp-pre-loader">
        <div class='circle-two'><span></span></div>
    </div>

    <div class="body-wrapper">
        <div class="body-innerwrapper">
            {% include 'site/index/header.html' %}
            <section id="sp-section-2">
                <div class="row">
                    <div id="sp-title" class="col-lg-12 ">
                        <div class="sp-column "></div>
                    </div>
                </div>

            </section>
            <section id="sp-main-body">

                <div class="row">
                    {% block content %}{% endblock %}
                </div>

            </section>
            {% include 'site/index/footer.html' %}

        </div>
    </div>

    <!-- Off Canvas Menu -->
    <div class="offcanvas-overlay"></div>
    {% include 'site/index/header_mobile.html' %}

    <!-- Go to top -->
    <!-- <a href="#" class="sp-scroll-up" aria-label="HELIX_ULTIMATE_SCROLL_UP_ARIA_LABEL"><span class="fas fa-angle-up"
            aria-hidden="true"></span></a> -->
</body>

</html>