<!-- build:js assets/vendor/js/core.js -->
<!-- <script src="/static/dashboard/assets/js/libs/jquery.js"></script> -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/static/dashboard/assets/js/libs/popper.js"></script>
<script src="/static/dashboard/assets/js/libs/bootstrap.js"></script>
<script src="/static/dashboard/assets/js/libs/perfect-scrollbar.js"></script>

<script src="/static/dashboard/assets/js/libs/hammer.js"></script>
<!-- <script src="/static/dashboard/assets/js/libs/i18n.js"></script> -->
<script src="/static/dashboard/assets/js/libs/typeahead.js"></script>

<script src="/static/dashboard/assets/js/libs/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/static/dashboard/assets/js/libs/cleave.js"></script>
<script src="/static/dashboard/assets/js/libs/cleave-phone.js"></script>
<script src="/static/dashboard/assets/js/libs/select2.js"></script>
<script src="/static/dashboard/assets/js/libs/FormValidation.min.js"></script>
<script src="/static/dashboard/assets/js/libs/Bootstrap5.min.js"></script>
<script src="/static/dashboard/assets/js/libs/AutoFocus.min.js"></script>

<script src="/static/dashboard/assets/js/libs/jquery.dataTables.js"></script>
<script src="/static/dashboard/assets/js/libs/datatables-bootstrap5.js"></script>
<script src="/static/dashboard/assets/js/libs/datatables.responsive.js"></script>
<script src="/static/dashboard/assets/js/libs/responsive.bootstrap5.js"></script>


<!-- Main JS -->
<script src="/static/dashboard/assets/js/main.js"></script>