<!-- TOAST FOR SUCCESSFULLY CHANGES -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11000">
    <div id="liveToastSaveChanges" class="toast bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Your changes have been saved successfully
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- TOAST FOR SUCCESSFULLY DELETION -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11000">
    <div id="liveToastDelete" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Successfully deleted.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- TOAST FOR NETWORK ERROR -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11000">
    <div id="liveToastNetworkError" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                There is network error.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- TOAST FOR MESSAGE CHANGE -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11000">
    <div id="liveToastMsgChanges" class="toast bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Your message has been saved successfully
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- TOAST FOR NETWORK ERROR -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11000">
    <div id="FileChosen" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                There is no file choosen.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- TOAST FOR MESSAGE COMPAIGN -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11000">
    <div id="liveToastMsgSent" class="toast bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Your message has been sent successfully
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- TOAST FOR SUCCESS DOWNLOAD -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11000">
    <div id="liveToastownload" class="toast bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Your file will begin download in 3 seconds
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>