{% extends 'basic/index.html' %}

{% block title %}
Terms and Conditions | Patowave
{% endblock %}

{% block content %}
<section class="position-relative">

    <!-- Content START -->
    <div class="container pt-5">
        <p class="lead mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quaerat expedita cupiditate,
            pariatur hic accusantium non repudiandae soluta rerum beatae cum consequatur, quas quia placeat
            excepturi impedit fuga deleniti et.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nostrum voluptates. Eum, ex! Ullam optio
            ab molestiae officia, esse possimus velit nemo earum quod voluptates voluptatibus laborum voluptas itaque
            fuga.
            Quam neque hic quaerat reiciendis mollitia molestiae, libero iure expedita voluptate officia doloremque,
            consequatur repellat nesciunt aliquid modi quia ullam, ea quibusdam ab ipsam quasi possimus nam vel? Iste,
            praesentium?
            Pariatur delectus ratione aliquam harum illum, debitis ipsa explicabo velit voluptas. Adipisci unde
            blanditiis, ipsam recusandae error numquam itaque laborum est qui corrupti possimus minus dolore facilis
            inventore molestias neque!
            Porro at obcaecati voluptatum commodi dolorum expedita harum praesentium accusantium quod distinctio et
            dolore aliquam assumenda laborum ipsum molestias voluptate unde atque totam iusto, quidem ea! Illum
            voluptate enim modi.
            Possimus perspiciatis alias tenetur nulla corporis dolor explicabo illum qui dolore earum. Culpa fugit nobis
            vel quae accusantium cupiditate voluptates unde ducimus perspiciatis velit. Beatae doloribus inventore
            accusantium consequuntur harum!
            Esse quaerat sequi eos recusandae reprehenderit tenetur obcaecati quae aliquid labore, minus iure quos
            perferendis cumque architecto tempora fuga. Dolore odio dignissimos alias fuga voluptatibus enim sequi
            ducimus deleniti beatae?
            Ex placeat vitae error necessitatibus nesciunt quibusdam exercitationem nemo velit optio, est voluptate
            doloremque accusamus excepturi officia adipisci dolorem eius facilis quia consequuntur suscipit. Repellat
            dolore autem saepe blanditiis voluptatem?
            Eveniet numquam quae voluptate doloribus neque sequi quisquam laudantium natus reprehenderit quibusdam
            praesentium tempore culpa, deserunt quam ipsa molestiae repudiandae ut aperiam cumque animi? Laboriosam
            accusantium similique repellat tenetur? Nulla.
            Quaerat incidunt eos repellat. Voluptatum ullam dolore assumenda praesentium pariatur rerum vitae expedita
            distinctio doloribus quidem, ex provident. Ab soluta aliquid molestias libero aperiam harum ullam nobis rem
            itaque suscipit.
            Cupiditate excepturi perferendis omnis pariatur eum dolorum voluptates laborum ullam facilis eos, ea ab
            error ipsam consequuntur voluptate libero magnam? Ab praesentium odit nobis fugit vel eos possimus
            accusantium quidem!
        </p>
    </div>
    <!-- Content END -->
</section>

{% endblock %}