{% extends 'web/basic/index.html' %}

{% block title %}
Tutorials | Patowave
{% endblock %}

{% block content %}
<!-- <section class="py-5">
    <div class="container">
        <div class="row position-relative">

            <div class="col-lg-12 mx-auto  pt-5 position-relative">
                <h1>Tutorials</h1>
                <p>Recently there is no tutorial</p>
            </div>
        </div>
    </div>
</section> -->
<section class="pb-5 pt-0 pt-lg-5">
    <div class=" py-5">
        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-8 mx-auto text-center">
                    <h2>Our recent Tutorials</h2>
                    <!-- <p class="mb-0">No matter what type of business you have</p> -->
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <iframe src="https://www.youtube.com/embed/nK-fk1cV7LI"
                    title="Jinsi ya kurekodi, mauzo, matumizi na manunuzi PatoWave App. #patowave" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/UGecuZ6YQAo"
                    title="Jinsi ya kuingiza wateja na madeni PatoWave App #patowave" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="320" height="567" src="https://www.youtube.com/embed/GIhapfvBjQI"
                    title="Jinsi ya kuingiza wateja PatoWave App. #patowave" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock %}